@import "./../../../../styles/variable.scss";

.proyects {
    .project-container {
      border: 1px solid $Orange;
      border-radius: 1rem;
      margin-top: 100px;
      margin-bottom: 30px;
      padding: 10px;

      .projects-box{
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width: 1000px) {
          width: 100%;
          display: contents;
        }
    }

.img-container {
  width: 40%;

  @media (max-width: 1000px) {
    display: none;
    width: 100%;
  }
}

.carousel {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.carousel-item {
  text-align: center;
}

.project-details {
  width: 60%;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;

  @media (max-width: 1000px) {
          width: 100%;
        }


  // &:hover {
  //   transform: scale(1.05);
  // }

  .project-box {
    h4 {
      font-size: 1.5em;
      margin-bottom: 10px;
      color: $LightestSlate;
    }

    .project-description-box {
      cursor: pointer;
      p {
        font-size: 20px;
        color: $LightSlate;
        margin: 0;
      }
    }

    .project-skills {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;

      .project-technology{
        display: flex;

        @media (max-width: 1000px) {
            width: 100%;
            display: contents;
          }

        @media (max-width: 700px) {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
      }



      a {
        font-size: 1.5em;
        margin-right: 10px;

        @media (max-width: 700px) {
          margin-top: 5px;
          margin-bottom: 5px;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .technology {
        font-size: 0.9em;
        margin-right: 10px;
      }
    }
  }
}
    }
}
