<section class="section proyects" id="projects">
  <div class="container">
    <div class="section-box">
      <div data-aos="fade-up" data-aos-duration="1000">
        <h3 class="section-title">
          <span class="n-section-title">03.</span>
          {{ Title }}
        </h3>
      </div>

      <div
        *ngFor="let project of ProjectList; let i = index"
        class="d-flex project-container"
        data-aos="fade-up"
        data-aos-duration="1000"
      >
        <div class="projects-box">
          <div class="img-container">
            <ngb-carousel
              #carousel
              [interval]="2000"
              [animation]="true"
              [showNavigationArrows]="project.imgs.length > 1"
              [showNavigationIndicators]="project.imgs.length > 1"
            >
              <ng-container
                *ngFor="
                  let img of project.imgs;
                  let isFirst = first;
                  let i = index
                "
              >
                <ng-template ngbSlide>
                  <div
                    class="picsum-img-wrapper"
                    style="width: 100%; height: 360px"
                  >
                    <img
                      class="object-fit-contain"
                      [src]="img"
                      [alt]="img"
                      height="150"
                      width="150"
                      style="width: 100%; height: 100%"
                      (click)="openImageInNewTab(img)"
                    />
                  </div>
                </ng-template>
              </ng-container>
            </ngb-carousel>
          </div>
          <div class="project-details">
            <div class="project-box">
              <h4 class="project-name">{{ project.Title }}</h4>
              <div class="project-description-box" (click)="debug()">
                <p [innerHTML]="project.Description"></p>
              </div>
              <ul class="project-skills">
                <div>
                  <a
                    *ngIf="project['ghLink']"
                    style="color: inherit"
                    [href]="project['ghLink']"
                    target="_blank"
                  >
                    <i class="fab fa-github"></i>
                  </a>
                </div>
                <div class="d-flex">
                  <li
                    class="list-unstyled"
                    *ngFor="let technology of project.Technologies"
                  >
                    <span class="underline technology">{{ technology }}</span>
                  </li>
                </div>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
