<section class="section banner">
  <div [@bannerTrigger] class="container">
    <div class="section-box-banner">
      <div class="content">
        <div>
          <h1 class="color-orange">Hello! My name is</h1>
        </div>
        <div class="banner-title">
          <h2>Mitesh Mor.</h2>
          <span class="typed-element font-size-xl"></span>
        </div>
        <div class="banner-description">
          <p class="mt-4">
            Welcome to my world of web wizardry! With over a year of hands-on
            experience, I'm your go-to developer for crafting sleek interfaces,
            intelligent bots, and scalable solutions. My code is clean,
            reusable, and dances effortlessly between
            <span class="color-orange">Angular and NodeJS/NestJS</span>. <br />
            Let's create web magic together! 🚀
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
