#style-switcher {
  background: none repeat scroll 0 0 #000;
  -webkit-box-shadow: 0 0 3px rgba(60, 72, 88, 0.15);
  box-shadow: 0 0 3px rgba(60, 72, 88, 0.15);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  left: -170px;
  position: fixed;
  top: 17%;
  width: 170px;
  z-index: 9999;
  padding: 10px 5px;
}

#style-switcher .title {
  font-size: 16px;
}

#style-switcher .bottom {
  background: none repeat scroll 0 0 #000;
}

#style-switcher .bottom div.settings {
  background: none repeat scroll 0 0 #000;
  height: 41px;
  position: absolute;
  right: -41px;
  top: 0px;
  width: 40px;
  padding: 3px;
  border-radius: 0 10px 10px 0;
}

#style-switcher .bottom div.settings i {
  margin-left: 4px;
}

#style-switcher ul.pattern {
  list-style: none outside none;
  overflow: hidden;
  padding: 0;
  border-radius: 0px;
}

#style-switcher ul.pattern li a {
  cursor: pointer;
  display: block;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin: 3px;
}

#style-switcher ul.pattern .default {
  background-color: #2d84fb;
}

#style-switcher ul.pattern .blue {
  background-color: #e54b4b;
}

#style-switcher ul.pattern .green {
  background-color: #01a479;
}

#style-switcher ul.pattern .mosaic-blue {
  background-color: #00758f;
}

#style-switcher ul.pattern .light-yellow {
  background-color: #fdd76e;
}

#style-switcher ul.pattern .purple {
  background-color: #280677;
}

@media only screen and (max-width: 320px) {
  #style-switcher {
    display: none;
  }
}
